{% extends 'admin/master.html' %} {% block body %}
<h1 class="text-center text-success">THỐNG KÊ - BÁO CÁO</h1>

<div class="row">
    <div class="col-md-7 col-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Tên sự kiện</th>
                <th>Số vé VIP bán được</th>
                <th>Số vé thường bán được</th>
                <th>Tổng số vé bán được</th>
                <th>Tổng doanh thu</th>
            </tr>

            {% for s in revenue_stats_by_events %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ s[4] }}</td>
                <td>{{ s[5] }}</td>
                <td>{{ s[2] }} VNĐ</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5 col-12">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-12">
        <table class="table">
            <tr>
                <th>Tháng</th>
                <th>Tổng doanh thu</th>
            </tr>

            {% for s in revenue_stats_by_time %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5 col-12">
        <canvas id="myChart2"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script>
    function draw(ctx, data, labels) {
        new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels,
        datasets: [
          {
            label: "Doanh thu",
            data: data,
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
    }

    let data1 = [];
    let labels1 = [];

    let data2 = [];
    let labels2 = [];

    {% for s in revenue_stats_by_events %}
    data1.push({{ s[2] }});
    labels1.push('{{ s[1] }}')
    {% endfor %}

    {% for s in revenue_stats_by_time %}
    data2.push({{ s[1] }});
    labels2.push({{ s[0] }})
    {% endfor %}

    window.onload = function () {
      const ctx = document.getElementById("myChart");
      draw(ctx, data1, labels1);
      const ctx2 = document.getElementById("myChart2");
      draw(ctx2, data2, labels2);

    };
</script>
{% endblock %}
