<div class="offcanvas offcanvas-start" id="filterMenu">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title fw-bold">Bộ lọc sự kiện</h4>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body">
    <!-- Các chức năng lọc -->
    <form id="filterForm">
      <!-- Lọc theo loại sự kiện -->
      <h5 class="fw-bold">Loại sự kiện</h5>
      <div class="mb-3">
        {% for c in categories %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="event_type"
            value="{{ c.id }}"
            id="eventType{{ c.id }}"
          />
          <label class="form-check-label" for="eventType{{ c.id }}">
            {{ c.name }}
          </label>
        </div>
        {% endfor %}
      </div>

      <!-- Lọc theo giá vé -->
      <h5 class="mb-2 fw-bold">Giá vé</h5>
      <div class="input-group mb-4">
        <span class="input-group-text">Từ:</span>
        <input
          type="number"
          class="form-control me-2"
          name="price_min"
          placeholder="50000"
          step="10000"
        />
        <span class="input-group-text">Đến:</span>
        <input
          type="number"
          class="form-control"
          name="price_max"
          placeholder="1000000"
          step="10000"
        />
      </div>

      <!-- Lọc theo thời gian -->
      <h5 class="mb-2 fw-bold">Thời gian</h5>
      <div class="mb-2 input-group">
        <label class="input-group-text">Từ:</label>
        <input type="datetime-local" class="form-control" name="datetime_from" />
      </div>
      <div class="mb-4 input-group">
        <label class="input-group-text">Đến:</label>
        <input type="datetime-local" class="form-control" name="datetime_to" />
      </div>

      <!-- Lọc theo địa điểm -->
      <h5 class="mb-2 fw-bold">Địa điểm</h5>
      <select class="form-select mb-3" name="location">
        <option value="">-- Chọn địa điểm --</option>
        {% for p in provinces %}
        <option value="{{p}}">{{ p }}</option>
        {% endfor %}
      </select>

      <!-- Nút lọc -->
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Áp dụng bộ lọc</button>
        <button type="reset" class="btn btn-secondary">Xóa lọc</button>
      </div>
    </form>
  </div>
</div>
