<div class="bg-dark text-light pt-5 pb-3 mt-5">
  <div class="container w-auto">
    <div class="row">
      <!-- Cột 1: Giới thiệu -->
      <div class="col-md-4">
        <h5 class="fw-bold">Về chúng tôi</h5>
        <p class="fs-5">
          Website bán vé sự kiện uy tín, nhanh chóng, an toàn. Cập nhật những sự
          kiện mới nhất mỗi ngày.
        </p>
      </div>

      <!-- Cột 2: Liên hệ -->
      <div class="col-md-4">
        <h5 class="fw-bold">Liên hệ</h5>
        <ul class="list-unstyled fs-5">
          <li>Địa chỉ: Khu dân cư Nhơn Đức, xã Hiệp Phước, TP.Hồ Chí Minh</li>
          <li>Số điện thoại: 0909 123 456</li>
          <li>Email: support@saleticket.com</li>
        </ul>
      </div>

      <!-- Cột 4: Mạng xã hội -->
      <div class="col-md-4">
        <h6 class="fw-bold fs-5">
          &#169; 2025 SaleTicket. All rights reserved.
        </h6>
      </div>
    </div>
  </div>
</div>
