<!-- Modal yêu cầu đăng nhập -->
<div class="modal fade" id="notifyPutTicketInCartModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notifyPutTicketInCartModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <p class="fw-bold text-success"> &#9989; Đã thêm vé của sự kiện này vào giỏ vé <br/> Vui lòng truy cập giỏ vé để kiểm tra thông tin!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <a href="/ticket-cart" class="btn btn-primary">Đi đến Giỏ Vé</a>
      </div>
    </div>
  </div>
</div>