{% extends 'layout/base.html' %} {% block content %} {% if events %}
<button
        class="btn btn-primary mt-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#filterMenu">
    Lọc sự kiện
</button>
{% include "layout/filter_event_sidebar.html" %}
<div class="row">
    {% for e in events %}
    <div class="col-md-3 col-12 p-4">
        <div class="card">
            <a href="/event/{{ e.id }}">
                <img class="card-img-top" src="{{e.banner}}" alt="{{e.name}}"/>
            </a>
            <div class="card-body">
                <a href="/event/{{ e.id }}" class="text-dark text-decoration-none">
                    <h4 class="card-title fw-bold">{{e.name}}</h4>
                </a>
                <p class="card-text">{{e.description}}</p>

                {% if e.vip_quantity == 0 and e.normal_quantity == 0 %}
                <div class="alert alert-danger fw-bold text-center">
                    Đã bán hết vé
                </div>
                {% else %}
                <!-- Giá vé VIP -->
                {% if e.vip_quantity > 0 %}
                <p class="card-text text-success fw-bold">
                    Giá vé VIP: {{ "{:,.0f}".format(e.vip_price) }} VNĐ
                </p>
                {% else %}
                <p class="card-text text-danger fw-bold">
                    Đã hết vé VIP. Còn vé THƯỜNG
                </p>
                {% endif %}

                <!-- Giá vé thường -->
                {% if e.normal_quantity > 0 %}
                <p class="card-text text-success fw-bold">
                    Giá vé THƯỜNG: {{ "{:,.0f}".format(e.normal_price) }} VNĐ
                </p>
                {% else %}
                <p class="card-text text-danger fw-bold">
                    Đã hết vé THƯỜNG. Còn vé VIP
                </p>
                {% endif %}
                {% endif %}
                <div class="d-flex justify-content-between">
                    <a href="/event/{{ e.id }}" class="btn btn-primary fw-bold">Xem chi tiết</a>
                    {% if e.vip_quantity != 0 or e.normal_quantity != 0 %}
                    <button
                            class="btn btn-danger fw-bold"
                            {% if e.normal_quantity== 0 and e.vip_quantity> 0 %}
                                data-bs-toggle="modal"
                                data-bs-target="#notifyPutVipTicketInCartModal"
                            {% else %}
                                onclick="add_to_cart({{ e.id }}, '{{ e.name }}', {{ e.vip_price }}, {{ e.normal_price }}, 1, 0)"
                                data-bs-toggle="modal"
                                data-bs-target="#notifyPutNormalTicketInCartModal"
                            {% endif %}
                        >
                        Đặt vé
                    </button>
                        {% if e.normal_quantity == 0 and e.vip_quantity > 0 %}
                            {% include "layout/notify_put_vipTicket_in_cart_modal.html" %}
                        {% else %}
                            {% include "layout/notify_put_normalTicket_in_cart_modal.html" %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if pages > 1 %}
<ul class="pagination">
    <!-- Previous -->
    <li class="page-item {% if current_page <= 1 %}disabled{% endif %}">
        <a class="page-link"
           href="/?page={{ current_page - 1 if current_page > 1 else 1 }}{% if base_qs %}&{{ base_qs }}{% endif %}">
            Previous
        </a>
    </li>

    <!-- Các trang -->
    {% for i in range(1, pages + 1) %}
    <li class="page-item {% if i == current_page %}active{% endif %}">
        <a class="page-link" href="/?page={{ i }}{% if base_qs %}&{{ base_qs }}{% endif %}">{{ i }}</a>
    </li>
    {% endfor %}

    <!-- Next -->
    <li class="page-item {% if current_page >= pages %}disabled{% endif %}">
        <a class="page-link"
           href="/?page={{ current_page + 1 if current_page < pages else pages }}{% if base_qs %}&{{ base_qs }}{% endif %}">
            Next
        </a>
    </li>
</ul>
{% endif %} {% else %}
<div class="alert alert-danger">KHÔNG CÓ SỰ KIỆN NÀO!</div>
{% endif %}
<script>
    window.onpageshow = function(event) {
    if (event.persisted) {
        let modalNormal = document.getElementById("notifyPutNormalTicketInCartModal");
        let modalVip = document.getElementById("notifyPutVipTicketInCartModal");
        let modalInstanceNormal = bootstrap.Modal.getInstance(modalNormal);
        let modalInstanceVip = bootstrap.Modal.getInstance(modalVip);
        if (modalInstanceNormal) {
            modalInstanceNormal.hide();
        }
        if (modalInstanceVip) {
            modalInstanceVip.hide();
        }
    }
};
</script>
{% endblock %}
